.ContentSection {
  width: 100%;
  height: 400px;

  background-color: var(--BackgroundColorLight);

  margin-top: 100px;
  margin-bottom: 100px;

  border-Top: 2px solid var(--AccentColor);
  border-bottom: 2px solid var(--AccentColor);
}
