main {
  display: flex;
  justify-content: center;
  margin: 5%;
}

#Content {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

  padding: 1%;
  margin: 1%;
}

.ProgressBox {
  height: fit-content;
  background-color: rgba(50, 50, 50, 0.9);

  margin: 2%;
}

.ProgressBox_Header {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: grey;
  padding: 1%;
}

.ProgressBox_Title {
  margin-bottom: 5px;
}

.ProgressBox_BarWrapper {
  width: 100%;
  height: 22px;
}

.ProgressBar_Outer {
  position: relative;

  height: 100%;
  background-color: rgb(30, 30, 30);
  padding: 2px;
}

.ProgressBar_Inner {
  width: 50%;
  height: 100%;
  background-color: rgb(6, 128, 165);
}

.ProgressBar_Text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.ProgressBox_Entries {
  list-style-type: none;
  margin-left: 0.5em;
}

.ProgressBox_Entries li::before {
  content: "\2610\0020 ";
}

.ProgressBox_Entries li {
  font-size: 18px;

  margin-top: 5px;
  margin-bottom: 5px;
}

.Entry_Completed {
  color: rgb(0, 200, 0);
}

.Entry_Completed::before {
  content: "\2611\0020 " !important;
}
