footer {
	background-color: rgb(50, 50, 50);
	background-color: var(--BackgroundColorDark);
	color: rgba(255, 255, 255, 0.4);

	display: flex;
	justify-content: space-evenly;

	padding: 20px;

	z-index: 999;
}

#FooterContent {
	display: flex;

	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 450px) {
	#FooterContent {
		flex-direction: column;
	}
}
