main {
  display: flex;
  justify-content: center;
  margin: 5%;
}

#Content {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2%;
  margin: 2%;

  font-size: 32px;

  background-color: rgba(0, 0, 200, 0.7);

  border-radius: 20px;
  border: 2px solid white;
}
