header {
	width: 100%;

	display: flex;
	justify-content: space-between;

	border-bottom: 1px solid var(--AccentColor);

	background-color: rgb(25, 25, 25, 0.5);

	font-size: 22px;
}

#Header_Logo {
	margin: 10px;

	display: flex;
	justify-content: center;
	align-items: center;
}

#Header_Navigation {
	display: flex;
}

.Header_NavItem {
	cursor: pointer;
}

.Header_NavItemContent {
    display: inline-block;

	padding: 10px;
	width: 100%;
	height: 100%;

	transition: all 0.2s ease;

	border: 1px solid transparent;

	text-decoration: none;
	color: inherit;
}

.Header_NavItem:hover .Header_NavItemContent {
	transition: all 0.2s ease;

	background-color: var(--BackgroundColorLight);
	border-color: var(--AccentColor);
	border-radius: 10px;

	transform: translateY(15%);
}
