main {
  margin: 5%;
}

.ArrowBox {
  display: flex;
  justify-content: center;

  background-color: rgba(35, 35, 35, 0.5);

  padding: 20px;
}

.Arrow_Down_Icon {
  width: 10%;
  height: 10%;
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgb(20, 20, 20);
  width: 100%;
  height: 100%;

  padding: 10px;

  border: 2px solid grey;
}

.Content_Title {
  letter-spacing: 4px;
}

.Content_Text {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5px;
}

.Separator {
  width: 100%;
  height: 4px;
  background-color: rgb(6, 90, 165);

  margin-top: 5px;
  margin-bottom: 5px;
}
